* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #8f7b60;
}
h1 {
  color: #4a4134;
}
.container {
  position: relative;
  min-width: 300px;
  min-height: 400px;
  padding: 40px 30px 30px;
  border-radius: 20px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.container button {
  color: #000;
  position: relative;
  display: grid;
  width: 80px;
  place-items: center;
  margin: 8px;
  height: 80px;
  background: linear-gradient(180deg, #8f8651, #906b2f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(53, 29, 2, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px;
}
.calculator button:active {
  filter: brightness(1.5);
}
.calculator button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  border-radius: 10px;
  background: linear-gradient(90deg, #d0be83, #a57f2d);
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}
.calculator button i {
  position: relative;
  font-style: normal;
  font-size: 1.5em;
  text-transform: uppercase;
}
.calculator {
  position: relative;
  display: grid;
}
.calculator .value {
  position: relative;
  grid-column: span 4;
  /* grid-template-columns: repeat(4, minmax(1fr, 150px)); */
  height: 100px;
  width: calc(100% - 20px);
  left: 10px;
  border: none;
  outline: none;
  background-color: #a7af7c;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 10px;
  font-size: 2em;
}
.calculator .ca {
  grid-column: span 2;
  width: 180px;
  background: rgb(224, 87, 87);
}
.calculator .ca::before {
  background: linear-gradient(90deg, #da5555, #ffffff5c);
  border-left: 1px solid rgba(234, 213, 161, 0.628);
  border-bottom: 1px solid rgba(234, 213, 161, 0.628);
  border-top: 1px solid rgba(234, 213, 161, 0.628);
}
.calculator .del {
  grid-column: span 2;
  width: 180px;
  background: #bb7a2a;
}
.calculator .del::before {
  background: linear-gradient(90deg, #f69f48, #ffffff5c);
  border-left: 1px solid rgba(234, 213, 161, 0.628);
  border-bottom: 1px solid rgba(234, 213, 161, 0.628);
  border-top: 1px solid rgba(234, 213, 161, 0.628);
}
.calculator .eq {
  background: #63abe6;
}
.calculator .eq::before {
  background: linear-gradient(90deg, #548bb9, #ffffff5c);
  border-left: 1px solid rgba(234, 213, 161, 0.628);
  border-bottom: 1px solid rgba(234, 213, 161, 0.628);
  border-top: 1px solid rgba(234, 213, 161, 0.628);
}

#calcInput {
  white-space: nowrap;
  overflow: hidden;
}
