* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #8f7b60;
}
h1 {
  color: #4a4134;
}
.container {
  position: relative;
  border-radius: 20px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 30px 20px 20px;
  margin: 10px;
}
.calculator {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(1fr, 100px));
  grid-template-rows: repeat(7, minmax(1fr, 40px));
  gap: 10px;
}
.container button {
  position: relative;
  color: #000;
  background: linear-gradient(180deg, #8f8651, #906b2f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(53, 29, 2, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px;
  min-width: 4rem;
  min-height: 4rem;
  place-items: center;
}
.calculator button:active {
  filter: brightness(1.5);
}
.calculator button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  border-radius: 10px;
  background: linear-gradient(90deg, #d0be83, #a57f2d);
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}
.calculator button i {
  position: relative;
  font-size: 1.1rem;
  font-style: normal;
  text-transform: uppercase;
}
.calculator .value {
  position: relative;
  border: none;
  outline: none;
  background-color: #a7af7c;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  text-align: right;
  min-height: 6rem;
  padding: 10px;
  font-size: 2em;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column: span 4;
  grid-row: span 2;
  max-width: calc(16rem + 30px);
}
.calculator .ca {
  grid-column: span 2;
  background: rgb(224, 87, 87);
}
.calculator .ca::before {
  background: linear-gradient(90deg, #da5555, #ffffff5c);
  border-left: 1px solid rgba(234, 213, 161, 0.628);
  border-bottom: 1px solid rgba(234, 213, 161, 0.628);
  border-top: 1px solid rgba(234, 213, 161, 0.628);
}
.calculator .del {
  grid-column: span 2;
  background: #bb7a2a;
}
.calculator .del::before {
  background: linear-gradient(90deg, #f69f48, #ffffff5c);
  border-left: 1px solid rgba(234, 213, 161, 0.628);
  border-bottom: 1px solid rgba(234, 213, 161, 0.628);
  border-top: 1px solid rgba(234, 213, 161, 0.628);
}
.calculator .eq {
  background: #63abe6;
}
.calculator .eq::before {
  background: linear-gradient(90deg, #548bb9, #ffffff5c);
  border-left: 1px solid rgba(234, 213, 161, 0.628);
  border-bottom: 1px solid rgba(234, 213, 161, 0.628);
  border-top: 1px solid rgba(234, 213, 161, 0.628);
}